body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 10em auto;
}

.profile {
  display: grid;
  place-items: center;
}

.double {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.label {
  display: flex;
  flex-direction: column;
}

div {
  margin: 0.5em 0;
}

.imgIcon {
  display: grid;
  place-items: center;
  width: 100px;
  border: 5px solid #e9ebff ;
  border-radius: 50%;
}

input {
  height: 35px;
  border-radius: 0.5em;
  border-color: #e9ebff;
  background-color: rgba(252, 252, 255, 1);
}
.largeInput {
  width: 29.5vw;
}

.shortInput {
  width: 12vw;
}